body {
    margin: 0;
    font-family: 'monserrat', sans-serif;
}
.main-section {
    margin: 20px 20px;
}
.image-container{
    height: 500px;
    background-repeat: no-repeat;
    background-image:url("assets/lago.jpg");
}
h1{
    font-family: 'prata', sans-serif;
    font-size: 64px;
    font-weight: 400;
}
h3{
    font-family:'prata', sans-serif;
    font-size: 24px;
    font-weight:400;
    margin-top: 0;
}
h1, h3{
    margin-bottom: 0;
}

a{
    font-weight: 600;
    font-style: italic;
    text-decoration: none;
    color:#6e6448
}
h6{
    padding: 22px;
    margin-bottom: 0px;
    margin-top: 56px;
    color: white;
    border-radius: 6px;
    background-image:linear-gradient(180deg,rgb(6, 6, 238),rgb(15, 221, 46));
}
li{
    padding: 6px 22px;
    list-style-type: none;
    border-bottom: solid 1px #dfdfdf; 
}

li>a{
color:rgb(6, 6, 238) ;
}

.image-container2{
    height: 500px;
    background-repeat: no-repeat;
    background-image:url("assets/isola\ comacina.webp");
}
#h6-2{
    padding: 22px;
    margin-bottom: 0px;
    margin-top: 56px;
    color: white;
    border-radius: 6px;
    background-image:linear-gradient(180deg,rgb(205, 63, 79),rgb(78, 108, 205));
}
.color-list2{
    color: rgb(205, 63, 79) ;
}

.image-container3{
    height: 500px;
    background-repeat: no-repeat;
    background-image:url("assets/bellagio.webp");  
}
#h6-3{
    padding: 22px;
    margin-bottom: 0px;
    margin-top: 56px;
    color: white;
    border-radius: 6px;
    background-image:linear-gradient(180deg,rgb(225, 66, 55),rgb(19, 83, 36));  
}

.color-list3{
    color:rgb(225, 66, 55) ;
}
.image-container4{
    height: 500px;
    background-repeat: no-repeat;
    background-image:url("assets/varenna.webp");
}
#h6-4{
    padding: 22px;
    margin-bottom: 0px;
    margin-top: 56px;
    color: white;
    border-radius: 6px;
    background-image:linear-gradient(180deg,rgb(187, 23, 23), rgb(117, 197, 117));
}
.color-list4{
    color:rgb(187, 23, 23) ;
}

#footer{
    padding: 16px;
    background-color: black;
}

footer>p{
    text-align: center;
}
